/*-----------------------*
  #RESET
 *-----------------------*/
* {
  box-sizing : border-box; // adjust box sizing
  margin     : 0; // reset default margin
  padding    : 0; // reset default padding
}

html {
  -ms-text-size-adjust        : 100%; // prevent adjustments of font size after orientation changes in IE
  -webkit-text-size-adjust    : 100%; // prevent adjustments of font size after orientation changes in iOS
  -webkit-font-smoothing      : antialiased; // make text sharper
  -moz-osx-font-smoothing     : grayscale; // make text sharper
  -webkit-tap-highlight-color : transparent; // overrides the highlight color shown when the user taps a link or a JavaScript clickable element in Safari on iOS
}

img {
  max-width : 100%; // prevent image over-scaling
}

sub,
sup {
  line-height : 0; // prevent from affecting line-height of the parent element
}

label {
  user-select : none; // prevent label text selection on dbl-click
}

[type='button'],
[type='reset'],
[type='submit'] {
  cursor             : pointer; // set generic cursor type for buttons and button-styled links
  user-select        : none; // prevent button text selection on dbl-click
  -webkit-appearance : button; // correct the inability to style clickable types on iOS
}

textarea {
  resize : vertical; // prevent vertical resizing
}

input:-moz-ui-invalid,
textarea:-moz-ui-invalid,
select:-moz-ui-invalid {
  box-shadow : none; // remove default red box-shadow in moz on "required" elements
}

a,
button,
input,
label,
select,
textarea,
[role='button'],
[role='switch'] {
  touch-action : manipulation; // remove 300ms delay on touch in iOS
}
